@import url('https://fonts.googleapis.com/css2?family=Domine&family=Gasoek+One&display=swap');

@font-face {
    font-family: 'PPNeueMontreal-Regular';
    src: url("fonts/PPNeueMontreal-Regular.woff2");
}

:root {
    --primary-font-size: 1.25rem;
}

body {
    font-family: 'PPNeueMontreal-Regular', serif;
    margin: 0;
    background-color: #1b1b1b;
    color: #fefefe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Gasoek One', sans-serif;
}

h1 {
    font-size: var(--primary-font-size, 1rem);
    color: #fefefe;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-optical-sizing: auto;
    text-align: start;
    line-height: initial;
    margin: 0;
}

nav {
    margin: 0 auto;
    width: 93.333333333%;
    max-width: 1200px;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#labs {
    letter-spacing: 0.01rem;
    opacity: 1;
}

#game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#info {
    background-color: #2c2c2c;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: calc(var(--border-size, 0.25rem) * 2);
    margin-bottom: 1rem;
    text-transform: uppercase;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#turn {
    transition: all 0.25s cubic-bezier(0, 0, .01, 1);
    height: calc(var(--chessboard-size, 400px) / 8);
    width: calc(var(--chessboard-size, 400px) / 8);
    margin: 0;
    padding: 0;
    position: relative;
}

#turn.WHITE {
    background-color: #fefefe;
    color: #1b1b1b;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 20
}

#turn.BLACK {
    background-color: #1b1b1b;
    color: #fefefe;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 20
}

#turn span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#restart {
    height: calc(var(--chessboard-size, 400px) / 8);
    width: calc(var(--chessboard-size, 400px) / 8);
    position: relative;
    background-color: #F25116;
    border: solid transparent;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    margin: 0;
    padding: 0;
    transition: all 0.2s cubic-bezier(0, 0, .01, 1);
    box-shadow: 0 6px 12px rgba(242, 81, 22, 0.1), 0 6px 12px rgba(242, 81, 22, 0.1);
}

#restart:hover {
    background-color: #ffffff;
    color: #F25116;
}

#restart span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#chessboard {
    width: var(--chessboard-size, 400px);
    height: var(--chessboard-size, 400px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    transition: all 0.2s cubic-bezier(0, 0, .01, 1);
    gap: 0;
    border: none;
    color: #1b1b1b;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#chessboard>div:nth-child(1) {
    border-top-left-radius: calc(var(--border-size, 0.25rem) * 2);
}

#chessboard>div:nth-child(8) {
    border-top-right-radius: calc(var(--border-size, 0.25rem) * 2);
}

#chessboard>div:nth-child(57) {
    border-bottom-left-radius: calc(var(--border-size, 0.25rem) * 2);
}

#chessboard>div:nth-child(64) {
    border-bottom-right-radius: calc(var(--border-size, 0.25rem) * 2);
}

#chessboard.disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

#promotion {
    height: calc(var(--chessboard-size, 400px) / 8);
    background-color: #6e791b;
    justify-content: space-between;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0;
    border: none;
    margin-bottom: 1rem;
    box-sizing: border-box;
    border-radius: calc(var(--border-size, 0.25rem) * 2);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    z-index: 999;
    transition: height 0.25s cubic-bezier(0, 0, .01, 1), margin-bottom 0.25s step-start;
}

#promotion.hidden {
    height: 0;
    margin-bottom: 0;
    transition: height 0.25s cubic-bezier(0, 0, .01, 1), margin-bottom 0.5s cubic-bezier(0.75, 0, 0.25, 1);
}

#promotion button {
    font-size: var(--primary-font-size);
    height: calc(var(--chessboard-size, 400px) / 8);
    width: calc(var(--chessboard-size, 400px) / 8);
    background-color: transparent;
    color: #fefefe;
    border: none;
    cursor: pointer;
    transition: all 0.1s cubic-bezier(0, 0, .01, 1);
}

#promotion button:hover {
    background-color: #fefefe;
    color: #6e791b;
}

#promotion button#promotion-close {
    color: #fefefe;
}

#promotion button#promotion-close:hover {
    background-color: #fefefe;
    color: #6e791b;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: var(--primary-font-size);
    overflow: hidden;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
}

.cell.variant1 {
    background-color: #fefefe;
}

.cell.variant2 {
    background-color: #A69185;
}

.cell.selected {
    background-color: #F25116;
}

.cell.MOVE {
    background-color: #536473;
}

.cell.CAPTURE {
    background-color: #B2E7B3;
}

.cell.CASTLE {
    background-color: #F2E205;
}

.cell.EN_PASSANT {
    background-color: #CDA3A7;
}

.cell.PROMOTION {
    background-color: #6e791b;
}

.cell:hover {
    border: var(--border-size, 0.25rem) solid #F25116;
}

.cell.moved_from {
    border: var(--border-size, 0.25rem) solid #A882DD;
}

.cell.moved_to {
    border: var(--border-size, 0.25rem) solid #A882DD;
}

.material-symbols-outlined {
    font-size: 18px;
    line-height: initial;
}

@media (min-width: 600px) and (min-height: 600px) {
    :root {
        --primary-font-size: 1.5rem;
    }
}

@media (min-width: 700px) and (min-height: 700px) {
    :root {
        --primary-font-size: 2rem;
    }
}

@media (min-width: 900px) and (min-height: 900px) {
    :root {
        --primary-font-size: 2.5rem;
    }
}