@import url('https://fonts.googleapis.com/css2?family=Domine&family=Gasoek+One&display=swap');

@font-face {
    font-family: 'PPNeueMontreal-Regular';
    src: url("fonts/PPNeueMontreal-Regular.woff2");
}

/* smallest screens */
:root {
    --primary-font-size: 1.25rem;
    --icon-font-size: 1rem;
    --settings-font-size: 1rem;
    --settings-secondary-font-size: 0.6rem;

    --settings-inner-padding: 0.5rem;
}

body {
    font-family: 'PPNeueMontreal-Regular', serif;
    margin: 0;
    background-color: #1b1b1b;
    color: #fefefe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Gasoek One', sans-serif;
}

h1 {
    font-size: var(--primary-font-size, 1rem);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-optical-sizing: auto;
    text-align: start;
    line-height: initial;
    margin: 0;
    opacity: 0;
    animation: titleFade 5s cubic-bezier(1, 0, 0, 1);
    transition: opacity 0.5s cubic-bezier(0, 0, .01, 1);
}

h1:hover {
    opacity: 1;
}

@keyframes titleFade {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

nav {
    margin: 0 auto;
    width: var(--chessboard-size, 400px);
    max-width: 1200px;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#labs {
    letter-spacing: 0.01rem;
    opacity: 1;
}

#settings {
    background-color: transparent;
    color: #fefefe;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0, 0, .01, 1);
    opacity: 0.25;
    border: none;
    border-radius: 999px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
}

#settings.enabled {
    color: #009de2;
    opacity: 1;
}

#settings span {
    transform: rotate(0deg);
    transition: all 0.5s cubic-bezier(0, 0, .01, 1);
}

#settings:hover {
    opacity: 1;
}

#settings:active span {
    /* rotate 360 */
    transform: rotate(360deg);
}

#settings_container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background: rgba(27, 27, 27, 0.8);
    padding: 0;
    width: 100%;
    height: var(--chessboard-size, 400px);
    box-sizing: border-box;
    z-index: 999;
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-auto-flow: row;
    border-radius: calc(var(--border-size, 0.25rem) * 2);
    overflow: hidden;
}

#settings_container.hidden {
    display: none;
    /* background-color: transparent;
    transition: top 1s, width 0.5s cubic-bezier(.5, 0, 0, 1); */
}

#settings_container>* {
    transform: translateY(0);
    opacity: 1;
    transition: opacity 0.25s step-start;
}

#settings_container>*.hidden {
    /* transform: translateY(2rem); */
    opacity: 0;
}

#settings_container>*.exit {
    /* transform: translateY(2rem); */
    opacity: 0;
    transition: opacity 0.5s;
}

.setting.empty {
    background: transparent;
    grid-column-start: 1;
    grid-column-end: 9;
}

.setting {
    font-size: var(--settings-font-size);
    width: 100%;
    background: #0079bb;
    padding: 0 0 0 var(--settings-inner-padding);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    overflow: hidden;
    grid-column-start: 1;
    grid-column-end: 6;
}

#settings_container select {
    background: #005a99;
    box-sizing: border-box;
    height: 100%;
    /* width: calc(var(--chessboard-size, 400px) / 4); */
    border: none;
    color: #fefefe;
    font-size: inherit;
    font-family: inherit;
    /* transition: all 0.25s cubic-bezier(0, 0, .01, 1); */
    cursor: pointer;
    padding: var(--settings-inner-padding);
    appearance: none;
    grid-column-start: 6;
    grid-column-end: 9;
    font-size: var(--settings-font-size);
}

.setting p {
    font-weight: 400;
    font-size: var(--settings-secondary-font-size);
    margin-top: 0.1rem;
    margin-right: 1rem;
    margin-bottom: 0;
    margin-left: 0;
    color: #b3e6fa;
    max-width: 420px;
}

#game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: calc(var(--border-size, 0.25rem) * 2);
    box-sizing: border-box;
    overflow: hidden;
}

#info {
    background-color: #2c2c2c;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: calc(var(--border-size, 0.25rem) * 2);
    margin-bottom: 1rem;
    /* box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22); */
}

#status {
    display: flex;
}

#turn {
    transition: all 0.25s cubic-bezier(0, 0, .01, 1);
    height: calc(var(--chessboard-size, 400px) / 8);
    width: calc(var(--chessboard-size, 400px) / 8);
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    background: #1b1b1b;
}

#turn.WHITE {
    background: #fefefe;
    color: #1b1b1b;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 20
}

#turn.BLACK {
    background: #1b1b1b;
    color: #fefefe;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 20
}

#turn span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#end {
    height: calc(var(--chessboard-size, 400px) / 8);
    width: calc(var(--chessboard-size, 400px) / 8);
    margin: 0;
    padding: 0;
    position: relative;
    background-image: linear-gradient(45deg, #5a5a5a 25%, transparent 25%), linear-gradient(-45deg, #5a5a5a 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #5a5a5a 75%), linear-gradient(-45deg, transparent 75%, #5a5a5a 75%);
    background-size: calc(var(--chessboard-size, 400px) / 40) calc(var(--chessboard-size, 400px) / 40);
    background-position: 0 0, 0 calc(var(--chessboard-size, 400px) / 80), calc(var(--chessboard-size, 400px) / 80) calc(-1 * var(--chessboard-size, 400px) / 80), calc(-1 * var(--chessboard-size, 400px) / 80) 0px;
    transform: translateX(0);
    z-index: 0;
    opacity: 1;
    transition: transform 0.25s cubic-bezier(0, 0, .01, 1), width 0.25s cubic-bezier(0, 0, .01, 1);
}

#end.hidden {
    transform: translateX(calc(-1 * var(--chessboard-size, 400px) / 16));
    width: 0;
    opacity: 0;
    transition: transform 0.25s cubic-bezier(0, 0, .01, 1), width 0.25s cubic-bezier(0, 0, .01, 1), opacity 0.25s step-end;
}

#end span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#controls {
    display: flex;
}

#undo {
    height: calc(var(--chessboard-size, 400px) / 8);
    width: calc(var(--chessboard-size, 400px) / 8);
    position: relative;
    background-color: #f21649;
    border: 0px solid transparent;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    margin: 0;
    padding: 0;
    transition: all 0.2s cubic-bezier(0, 0, .01, 1);
}

#undo:disabled {
    width: 0;
}

#undo:hover {
    background-color: #ffffff;
    color: #f21649;
}

#restart {
    height: calc(var(--chessboard-size, 400px) / 8);
    width: calc(var(--chessboard-size, 400px) / 8);
    position: relative;
    background-color: #F25116;
    border: 0px solid transparent;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    margin: 0;
    padding: 0;
    transition: all 0.2s cubic-bezier(0, 0, .01, 1);
    /* box-shadow: 0 6px 12px rgba(242, 81, 22, 0.1), 0 6px 12px rgba(242, 81, 22, 0.1); */
}

#restart:hover {
    background-color: #ffffff;
    color: #F25116;
}

#restart span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#chessboard {
    width: var(--chessboard-size, 400px);
    height: var(--chessboard-size, 400px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    transition: all 0.2s cubic-bezier(0, 0, .01, 1);
    gap: 0;
    border: none;
    color: #1b1b1b;
    /* box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22); */
}

#chessboard>div:nth-child(1) {
    border-top-left-radius: calc(var(--border-size, 0.25rem) * 2);
}

#chessboard>div:nth-child(8) {
    border-top-right-radius: calc(var(--border-size, 0.25rem) * 2);
}

#chessboard>div:nth-child(57) {
    border-bottom-left-radius: calc(var(--border-size, 0.25rem) * 2);
}

#chessboard>div:nth-child(64) {
    border-bottom-right-radius: calc(var(--border-size, 0.25rem) * 2);
}

#chessboard.disabled {
    pointer-events: none;
    cursor: not-allowed;
}

#promotion {
    height: calc(var(--chessboard-size, 400px) / 8);
    background-color: #6e791b;
    justify-content: space-between;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0;
    border: none;
    margin-bottom: 1rem;
    box-sizing: border-box;
    border-radius: calc(var(--border-size, 0.25rem) * 2);
    /* box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22); */
    z-index: 999;
    transition: height 0.25s cubic-bezier(0, 0, .01, 1), margin-bottom 0.25s step-start;
}

#promotion.hidden {
    height: 0;
    margin-bottom: 0;
    transition: height 0.25s cubic-bezier(0, 0, .01, 1), margin-bottom 0.5s cubic-bezier(0.75, 0, 0.25, 1);
}

#promotion button {
    font-size: var(--primary-font-size);
    height: calc(var(--chessboard-size, 400px) / 8);
    width: calc(var(--chessboard-size, 400px) / 8);
    background-color: transparent;
    color: #fefefe;
    border: none;
    cursor: pointer;
    transition: all 0.1s cubic-bezier(0, 0, .01, 1);
    padding: 1rem;
}

#promotion button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#promotion button:hover {
    background-color: #fefefe;
    color: #6e791b;
}

#promotion button#promotion-close {
    color: #fefefe;
}

#promotion button#promotion-close:hover {
    background-color: #fefefe;
    color: #6e791b;
}

.cell {
    cursor: pointer;
    font-size: var(--primary-font-size);
    overflow: hidden;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0px transparent;
    border-style: inset;
    position: relative;
    padding: var(--border-size, 0.25rem);
}

.cell img {
    height: 100%;
    object-fit: contain;
}

.cell img#xo {
    opacity: 0.5;
    width: 60%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cell img#checkmated {
    height: calc(var(--border-size, 0.25rem) * 2);
    position: absolute;
    top: calc(var(--border-size, 0.25rem) + var(--border-size, 0.25rem) / 2);
    right: calc(var(--border-size, 0.25rem) + var(--border-size, 0.25rem) / 2);
}

.cell img#checked {
    height: calc(var(--border-size, 0.25rem) * 2);
    position: absolute;
    border-radius: 50%;
    top: calc(var(--border-size, 0.25rem));
    right: calc(var(--border-size, 0.25rem));
}

.cell.variant1 img#checked {
    border: calc(var(--border-size, 0.25rem) / 2) solid #d9d9d9;
}

.cell.variant2 img#checked {
    border: calc(var(--border-size, 0.25rem) / 2) solid #b5b5b5;
}

.cell.variant1 {
    background-color: #d9d9d9;
}

.cell.variant2 {
    background-color: #b5b5b5;
}

/* midpoint color: #C7C7C7 */

.cell.moved_from {
    background-color: #BBA2DE;
}

.cell.moved_to {
    background-color: #BBA2DE;
}

.cell.CAPTURE,
.cell.EN_PASSANT,
.cell.EN_PASSANT_WHITE,
.cell.EN_PASSANT_BLACK {
    background-color: #B2E7B3;
}


.cell.PROMOTION,
.cell.PROMOTION_QUEEN,
.cell.PROMOTION_KNIGHT,
.cell.PROMOTION_ROOK,
.cell.PROMOTION_BISHOP {
    background-color: #F2E205;
}

.cell.PROMOTION_QUEEN_CAPTURE,
.cell.PROMOTION_KNIGHT_CAPTURE,
.cell.PROMOTION_ROOK_CAPTURE,
.cell.PROMOTION_BISHOP_CAPTURE {
    background-color: #d8c77f;
}

.cell.selected {
    background-color: #F25116;
}

.cell.visualize_from {
    background-color: #A0A9EB;
}

.cell.visualize_to {
    background-color: #A0A9EB;
}


.material-symbols-outlined {
    font-size: var(--icon-font-size);
    line-height: initial;
}

/* For screens larger than 600px x 600px */
@media (min-width: 600px) and (min-height: 600px) {
    :root {
        --primary-font-size: 1.5rem;
        --icon-font-size: 1.25rem;
        --settings-font-size: 1.25rem;
        --settings-secondary-font-size: 0.8rem;
        --settings-inner-padding: 0.6rem;
    }
}

/* For screens larger than 700px x 700px */
@media (min-width: 700px) and (min-height: 700px) {
    :root {
        --primary-font-size: 2rem;
        --icon-font-size: 1.5rem;
        --settings-font-size: 1.5rem;
        --settings-secondary-font-size: 0.85rem;
        --settings-inner-padding: 0.8rem;
    }
}

/* For screens larger than 900px x 900px */
@media (min-width: 900px) and (min-height: 900px) {
    :root {
        --primary-font-size: 2.5rem;
        --icon-font-size: 1.75rem;
        --settings-font-size: 1.8rem;
        --settings-secondary-font-size: 0.9rem;
        --settings-inner-padding: 1rem;
    }

    .setting p {
        margin-top: 0.2rem;
    }
}

#turn.BLACK {
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background: #1b1b1b;
    position: relative;
}

#turn.BLACK:not(.game-over) {
    animation-name: thinking;
    background: linear-gradient(to right, #1b1b1b 4%, #3b3b3b 27%, #1b1b1b 50%);
    background-size: calc(var(--chessboard-size, 400px) /2) calc(var(--chessboard-size, 400px)/8);
}

@keyframes thinking {
    0% {
        background-position: calc(-1 * var(--chessboard-size, 400px) / 4) 0;
    }

    100% {
        background-position: calc(var(--chessboard-size, 400px) / 4) 0;
    }
}